    <div class="header" mo-header>
    </div>

    <!-- content -->
    <div class="content">
      <!-- 导航栏 -->
      <div mo-nav></div>
      <div class="content-box">
      		<h3>
      			mo-doc是一个移动组件的集合，组件类型包含组件，基础组件和efte组件。
      		</h3>
      		<p>
      			上传组件有两种方法，第一种可以直接在本站点上传，需要手动粘贴package.josn和README.md文件内容。另外一种是便捷上传，需要执行<code>npm install mo-tool -g</code>命令，在要上传组件的根目录下执行<code>mo-tool publish</code>命令。
      		</p>
      		<p>
      			<strong>注：package.josn需要额外增加两个字段。<code>code</code>:git的代码仓库地址，以便服务端拉取相关代码，展示demo；<code>classify</code>:上传组件分类，默认为三个字段-- util,base,efte；另外demo的文件需要为根目录下的index.html文件。</strong>
      		</p>
      </div>
    </div>
