<div class="header" mo-header>
</div>

<!-- content -->
<div class="content">
  <!-- 放内容的 -->
  <div class="submit-box">
    <h5>New Project</h5>
    <form class="form-horizontal">
      <div class="alert alert-success" ng-show="success">
          {{success}}
      </div>
      <div class="alert alert-danger" ng-show="error">
          {{error}}
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">package</label>
        <div class="controls">
          <textarea class="form-control" style="{'height':'200px'}" ng-model="package"  placeholder="粘贴package文本"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">介绍</label>
        <div class="controls">
          <textarea class="form-control" style="{'height':'200px'}" ng-model="intro"  placeholder="粘贴markdown文本"></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" ng-click="submit()" class="btn">提交</button>
        </div>
      </div>
    </form>
 </div>
</div>
